<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Howdy World</title>
	<link rel="stylesheet" href="master.css">
	<script src="angular/angular.js"></script>
	<script src="angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
</head>
<body>

	<h1>{[{"Hello World!"}]}</h1>

	<h1>Main</h1>

	<div ng-controller="InfoCtrl" >
		<ul ng-repeat="data in info.stuff">
			<li>{[{data.label}]}</li>
			<li>{[{data.inputType}]}</li>
			<li>{[{data.placeholder}]}</li>
			<li>{[{data.pizzaSauce}]}</li>
		</ul>
	</div>
	
	<!-- <h1>{[{hello}]}</h1> -->
	
	{{{ body }}}

	<ui-view></ui-view>

</body>
</html>