<!DOCTYPE html>
<html lang="en" ng-app="pizzaSauce">
<head>
	<meta charset="UTF-8">
	<title>Howdy World</title>
	<link rel="stylesheet" href="master.css">
	<script src="angular/angular.js"></script>
	<script src="angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
	<script>
		
	</script>
</head>
<body ng-controller="FirstCtrl as first">
	
	<input type="text" ng-model="first.greeting"/>

	<div ng-class="first.greeting">
		{[{first.greeting}]} {[{"World"}]}
	</div>
	<!-- <h1>{[{hello}]}</h1> -->
	
	{{{ body }}}

</body>
</html>