Home Page

<nav>
	<ul>
		<label for='fname'> First Name </label><input id="fname" placeholder="Chris..." inputtype="name">
	</ul>
<<<<<<< HEAD
</nav>

<div ng-controller="infoCtrl" class="form-content">
	<div ng-repeat="row in info.stuff">

		<label for="{[{ row.pizzaSauce }]}">{[{ row.label }]}</label>
		<input name="{[{ row.pizzaSauce }]}" type="{[{ row.textType }]}" placeholder="{[{ row.placeHolder }]}"/>

    </div>

</div>
=======
</nav>
>>>>>>> 162d2090a051c21d9d2ab45267b07c569b95d1a0
