Home Page



<div ng-controller="infoCtrl" class="form-content">
	<div ng-repeat="row in info.stuff">

		<label for="{[{ row.pizzaSauce }]}">{[{ row.label }]}</label>
		<input name="{[{ row.pizzaSauce }]}" type="{[{ row.textType }]}" placeholder="{[{ row.placeHolder }]}"/>

    </div>

</div>

